{{#each tweets}}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
            <div class="card-title col s12">
              <img class="img-tweet-prof circle col s3" src={{this.profile_img}}>
              <h6 class="username col s9 valign-wrapper">{{this.author}}</h6>
            </div>
            <p class="tweet-text">{{this.tweet_text}}</p>
            <!-- <p>{{this.date}}</p> -->
            <a class="btn-floating halfway-fab waves-effect waves-light {{ifColorSet this.watson_score}} center-align" style="top: 8px; right: 8px;"><p>{{this.watson_score}}</p></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
