{{#each tweets}}

  <p>{{this.date}}</p>

  <div class="tweet-box col-xs-12">
    <div class="col-xs-10 turn-off-padding">
      <img class="col-xs-2 thumbnail img-float-text-wrap" src={{this.profile_img}}>
      <h6 class=" username col-xs-8">{{this.author}}</h4>
    </div>
    <div class="col-xs-2">
      <p>{{this.watson_label}}</p>
      <p>{{this.watson_score}}</p>
    </div>
    <div class="tweet-txt col-xs-12">
      <p>{{this.tweet_text}}</p>
    </div>
  </div>


{{/each}}
